html {
  margin: 1em 1em;
}

body {
  font-family: sans-serif, sans;
  color: #222;
  background-color: #ddd;
}

.blockcenter {
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
}

#videoplayer {
  display: block;
  border: solid 1px black;
}

#throbber {
  display: none;
  margin-left: 50%;
  margin-bottom: 2em;
}

#videoselect {
  display: block;
  padding: 15px;
  margin-bottom: 3em;
}
